@charset "utf-8";
/* CSS Document */



/*#next{
		  clear:both;	
		 position:relative;
		 float:right;
		 display:inline-block;
		 margin: -1.2% 0 0 -5%;
		 text-align:center;
		 border:#3A1902 solid 1px;
	     border-radius:5px;
		 width:40%; 
	  }
*/

/* Tablet Layout: 461px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 28.75) {


 /*#prev{	
	  clear:both;	  
	  float:left; 
	  position:inherit;
	  padding:0px;
	  margin: 0 45% 0 0%;
	  display:inline-block;
	  text-align:center;
	  border:#3A1902 solid 1px;
	  border-radius:5px;
	  }*/

#next{
		  /*clear:both;	*/
		 /* position:absolute;*/
		  /*display:inline-block;*/
		  /*float:right;*/
		  /*left: 20%;*/
		 /* padding:1% 1% 1% 1%;*/		 
		/* text-align:center;
		 border:#3A1902 solid 1px;
	     border-radius:5px;
		 width:10%;*/		
 }

}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 40.5em) {


/* #prev{	
	  clear:both;	  
	  float:left; 
	  position:inherit;
	  padding:0px;
	  margin: 0 25% 0 0%;
	  display:inline-block;
	  text-align:center;
	  border:#3A1902 solid 1px;
	  border-radius:5px;
	  }*/

/*#next{
		  clear:both;	
		  position:inherit;
		  float:right;
		  padding:3%;
		  display:inline-block;
		 text-align:center;
		 border:#3A1902 solid 1px;
	     border-radius:5px;
		  width:50%; 
}*/

}



