@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */


#pictures img{
	clear:both;
	position:absolute; 
	/*margin: -39% 0% 0 -23%;*/
	display:inline-block;
	width:90%;
}
/* IMPORTANT! THis hides the rest of the pic desscription text. We resize the font in the media queries */	 
aside .pic_descr{
    display:none;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;		
}
aside #first_descr{
	display:inline-block;
}
figure.drag_pic{
	position:absolute;
	display:block;
	width:100%;
	margin: 0% 0% 3% -5%;
}

#pic_descriptions p{
	position:relative;
	margin-top:5%;
	font-size: .8em;
	width:100%;
}
section #buttonsPN{
	display:inline-block;
	position:static;
	float:none; 
	padding:none;
	margin:95% 0 5% 5%;	
}

 #prev{	
	  /*clear:both;*/	  
	  float:left; 
	  position:relative;
	   /*margin: 0 22% 0 0%;*/
	  display:inline-block;
	  text-align:center;
	  border:#3A1902 solid 1px;
	  border-radius:5px;
	  width:40%;
	  }

#next{
		  /*clear:both;*/	
		 position:relative;
		 float:right;
		 display:inline-block;
		 margin: -1.2% 0 0 -5%;
		 text-align:center;
		 border:#3A1902 solid 1px;
	     border-radius:5px;
		 width:40%; 
	  }


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 601px) {

/*#pic_descriptions p{
	display:block;
	position:relative;
	margin-top:3%;
	font-size: .8em;
	width:100%;
}*/
figure.drag_pic{
	position:absolute;
	display:block;
	left:8%;
	width:60%;
}
#pic_descriptions p{
	position:relative;
	float:right;
	margin-top:-65%;
	padding:0%;
	font-size: 1.0em;
	width:40%;
}
section #buttonsPN{
	display:inline-block;
	position:static;
	float:none; 
	padding:none;
	margin:50% 0 5% 5%;	
}
 #prev{	
	  clear:both;	  
	  float:left; 
	  position:inherit;
	  padding:0px;
	  margin: 0 45% 0 0%;
	  display:inline-block;
	  text-align:center;
	  border:#3A1902 solid 1px;
	  border-radius:5px;
	  }

#next{
		  /*clear:both;	*/
		  position:absolute;
		  /*display:inline-block;*/
		  /*float:right;*/
		  /*left: 20%;*/
		 /* padding:1% 1% 1% 1%;*/		 
		 text-align:center;
		 border:#3A1902 solid 1px;
	     border-radius:5px;
		 width:10%;
		
 }

}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 801px) {
figure.drag_pic{
	position:absolute;
	display:block;
	left:6%;
	width:60%;
}

#pic_descriptions p{
	position:relative;
	float:right;
	font-size: 1.5em;
	width:40%;
}
section #buttonsPN{
	display:inline-flex;
	position:static;
	float:none; 
	padding:none;
	/*margin:45% 0 0 8%;*/	
}

 #prev{	
	  clear:both;	  
	  float:left; 
	  position:inherit;
	  padding:0px;
	  margin: 0 25% 0 0%;
	  display:inline-block;
	  text-align:center;
	  border:#3A1902 solid 1px;
	  border-radius:5px;
	  }

#next{
		  clear:both;	
		  position:inherit;
		  float:right;
		  padding:3%;
		  display:inline-block;
		 text-align:center;
		 border:#3A1902 solid 1px;
	     border-radius:5px;
		  width:50%; 
}

}



