@charset "utf-8";
@import url("myStyle.css");
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	15;
		
*/

/* Mobile Layout: 480px and below. */
li{
	font-size:inherit;	
}
div .pStrong{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: .9em;
	font-weight:200;
	color:362008;
	padding:2%;
}
#wrapper{
	float:left;
	margin-right: auto;
	width: 38%;
	padding-left: 1.5489%;
	padding-right: 1.5489%;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 98.9021%;
	padding-left: 1.5489%;
	padding-right: 1.5489%;
}
#header {
	clear: both;
	float: left;
	width: 20%;
	margin-left: 0;	
	display: inline-block;
	margin-top:0%; 
}
#article1-land {
	clear: both;
	float: none;
	font-size: .8em;
	width: auto;
	height:80%;
	display: inline-block;
	position:absolute;
	top:10%;
}
#landingText{
	font-size:1.0em;	
}
#article1 {
	clear: both;
	float: none;
	font-size: .8em;
	width: 93%;
	display: inline-block;
	margin-top:10px;
}
#sidenews {
	clear: both;
	position:relative;
	margin:0 3% 0 0;
	width: 95%;
	display: inline-block;
	padding:0px;
	padding-right:1.3707%;
}

#sidenews_list {	
	font-size: 1.0em;
}

#article2 {
	position:relative;
	clear: both;
	width: 80%;
	height:auto;
	display: inline-block;
	margin-top:3%;
}
/*for the jquery call when 2dart, etc loads*/
.article2 {
	position:relative;
	clear: both;
	width: 80%;
	height:auto;
	display: inline-block;
	margin-top:3%;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top:10px;
	width: 100%;
	display: block;
	text-align:center;
}
#footerbottom {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


#lepidoptera_pic{
	display:block;
	position:absolute;
	padding-left:10%;
	left: -6%;
	width:20%;
	margin:0 5%;
}


/* Tablet Layout: 320px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 360px) {
li{
	font-size:inherit;
	
}
div .pStrong{
	font-size: 1.2em;
}
#wrapper{
	width: 91.4836%;
	padding-left: 0.7581%;
	padding-right: 2.7581%;
}
.gridContainer {
	width: 91.4836%;
	padding-left: 0.7581%;
	padding-right: 2.7581%;
}

#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 20%;
	display:inline-block;
	margin-top:0%;
}
#article1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35%;
	display: inline-block;
}
#sidenews {
	clear: none;
	float: right;
	margin-left: 1.6574%;
	width: 50%;
	display: block;
}
#article2 {
	clear: both;
	float: left;
	margin-right: 0%;
	width: 95%;
	height:auto;
	min-height:40px;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footerbottom {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}




#lepidoptera_pic{
	width:30%;
}


}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
li{
	font-size:larger;	
}
div .pStrong{
	font-size: 1.5em;		
}
div article.pStrong{
	font-size: 1.2em;		
}
#wrapper{
	width: 95.0217%;
	max-width: 800px;
	padding-left: 0.4891%;
	padding-right: 0.4891%;
	margin: auto;
}

.gridContainer {
	width: 89.0217%;
	max-width: 1000px;
	padding-left: 0.4891%;
	padding-right: 0.4891%;
	margin: auto;
}

#header {
	clear: both;
	float: left;
	margin-left: 20% 0 0 2%;
	width: 25%;
	display: inline-block;	
	margin-top:0%;
}
#article1-land {
	height:45%;
}
#landingText{
	font-size:1.8em;
}
#article1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 53.8754%;
	display: inline-block;
}
#sidenews {
	clear: none;
	float: right;
	margin-left: .1989%;
	margin-right:.1989%;
	margin-top:-3%;
	width: 32.6007%;
	display: block;
	padding-left:50px;
}
#sidenews_list {	
	font-size: 1.2em;
}
#article2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	height:auto;
	min-height:500px;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footerbottom {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


	
#lepidoptera_pic{
	width:80%;
}

}