@charset "utf-8";
/* CSS Document */

/*body{
	background-image:url(../images/headerback.jpg);
    background-repeat: repeat-x;
    background-position: top;
	background-color:#000000;
	}

p{
	
	color:362008;
}

li{
	clear:both;
	padding-top:15px;
	text-align:left;
	list-style-type:none;
}

a:link{	text-decoration:none; color:#800000;}

a:visited{color:#CCC; text-decoration:none;}

a:hover{color:#E70E23; text-decoration:none;}*/


#article1-land{
	
	}
#landingText{
	
}



 


	
#nav #news-btn{
	display:block;
	float:left;
	position:inherit;	
	width: 70px; height:55px;
	background-image:url(../images/newsBtn.png);	
	text-indent: -9999px;
	margin:1% 0% 6% 3%;
}

#nav #news-btn:hover{
	background-position:bottom;
   }
   
#nav #news-btn:active{
	background-position:center;
}

#nav #portfolio-btn{
	display:block;
	float:left;
	position:inherit;	
	width: 70px; height:55px;
	background-image:url(../images/portfolioBtn.png);	
	text-indent: -9999px;
	margin:1% 0% 6% 3%;
}

#nav #portfolio-btn:hover{
	background-position:bottom;
   }
   
#nav #portfolio-btn:active{
	background-position:center;
}

#nav #contact-btn{
	display:block;
	float:left;
	position:inherit;	
	width: 70px; height:55px;
	background-image:url(../images/contact2Btn.png);		
	text-indent: -9999px;
	margin:1% 0% 6% 3%;
}

#nav #contact-btn:hover{
	background-position:bottom;
   }
   
#nav #contact-btn:active{
	background-position:center;
}
/* Nav buttons!!!!!*/
#news-default{
	display:block;
	float:left;
	position:inherit;	
	width: 70px; height:55px;
    background-image:url(../images/newsOnly.png);
	text-indent: -9999px;
	margin:1% 0% 6% 3%;
}
#portfolio-default{
	display:block;
	float:left;
	position:inherit;	
	width: 70px; height:55px;
    background-image:url(../images/portfolioOnly.png);
	text-indent: -9999px;
	margin:1% 0% 6% 3%;
}
#contact-default{
	display:block;
	float:left;
	position:inherit;	
	width: 70px; height:55px;
    background-image:url(../images/contactOnly.png);
	text-indent: -9999px;
	margin:1% 0% 6% 3%;
}
/*End of Nav Buttons!!!*/
#article1{
	padding:10px;
	text-align:left;
	background-image:url(../images/oldpaper2.png);
	background-size:contain;
	background-size:100% 100%;
	background-repeat:no-repeat;
	border:thin #633;
	}
#article1 img{
		position:relative;
		float: left;
		padding:0 5% 5% 5%;
	}
#article1 p{
	padding: 0 2% 0 2%;
}


#article2{
	background-image:url(../images/oldpaper2.png);
	text-align:left;
	background-size:contain;
	background-size:100% 100%;
	background-repeat:no-repeat;
	border:thin #633;
}



#content{ }
  #content h1 { font-size: 2.4em; font-weight: normal; line-height: 32px; margin: 30px 0 50px 0; }
  #content p { font-size: 1.4em; line-height: 22px; margin-bottom: 20px; }
  
 

