@charset "utf-8";
/* CSS Document */
#article1{
	display:none;
}
#article2{
	background-image: none;
}
/*#sidenews{
	position:absolute;
	right:-1%;
	top:17%;
	margin-bottom:-50%;
}*/
section{
	position:relative;
	left:-4%;	
	background-image:url(../images/oldpaper2.png);
	background-repeat:no-repeat;
	background-size:contain;
	background-size:100% 100%;
	min-width:310px;
	height:auto;
	padding: 3%;
}
#pictures{
	position:relative;
	margin-top:-10%;	
}
figure.ui_pic{
	position:relative;
	display:block;
	margin: 0 1% 0 0;
	/*left:-8%;*/
	min-width:320px;
	height:auto;
}
#gallery{
	clear:both;
	position:relative;
	display:block;
	width:99%;
	right:15.0%;
	margin:0 0% 0 0%;
	padding:0 0 0 0;
}
#backtotop{
	position:relative;
	margin:10% 0 0 29%;	
}
#backtotop a{
	font-family: 'Yellowtail', cursive;
	font-size:1.4em;
	position:relative;
	display:inline-block;	
	background-image:url(../images/backboard.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding:5%;	
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 28.75) {
	#article1{
	display:inline-block;
}
#article2{
	background-image: none;
}
section{
	position:relative;
	left:0%;
	background-image:url(../images/oldpaper2.png);
	background-repeat:no-repeat;
	background-size:contain;
	background-size:100% 100%;	
	height:auto;
	padding: 3%;
	width:100%;
}
figure.ui_pic{
	position:absolute;
	display:block;
	left:8%;
	width:60%;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 40.5em) {
#article2{
	background-image: none;
}
#article1{
	display:inline-block;
}
figure.ui_pic{
	position:absolute;
	display:block;
	left:-6%;
	width:60%;
}
section{
	left: -2%;
}
.UIsections img{
	position:relative;
	float:left;
	padding:2% 2%;
}

section{
	position:relative;
	left:2%;
	margin: 0 8% 0 0;
	background-image:url(../images/oldpaper2.png);
	background-repeat:no-repeat;
	background-size:contain;
	background-size:100% 100%;
	width:94%;	
	height:auto;
	padding: 5%;
}
section1{
	padding:2%;
	margin-bottom:3%;
} 
#gallery{
	margin-left:3%;
	margin-top: 8%;
	min-height:500px;
	min-width:90%;
}

}